[user]
    name = Juan Treminio
    email = jtreminio@gmail.com
    filemode = true
[core]
    excludesfile = /Users/jtreminio/.gitignore_global
    editor = vim
    pager = less
    ignorecase = false
    autocrlf = input
[color]
    ui = auto
[alias]
    st = status
    co = checkout
    ci = commit
    br = branch
    staged = diff --cached
[push]
    default = simple
